.Mandatory {
  color: red;
}

.Form_contactLine {
  display: inline-flex;
}

.Form_inputStyles {
  label {
    width: 150px;
    text-align: start;
    margin-bottom: 20px;
  }

  input {
    width: 200px;
    text-align: start;
    border-radius: 5px;
  }
}

.Form_contactButton {
  border-radius: 5px;
}