.HeaderStyle {
    font-family: serif;
  .HeaderIcon {
      position: absolute;
  }
  h2 {
    font-size: 50px;
    font-weight: bolder;
  }
  hr {
    border-width: 4px;
    border-color: black;
  }
  
  .HeaderSubtitle {
    font-size: 25px;
    font-style: oblique;
  }
  background-image: linear-gradient(transparent, grey);
}
