.App {
  text-align: center;

  height: 100%;
  width: 100%;

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

.AppForm {
  
  background-image: linear-gradient(transparent, grey);
  text-align: center;

  height: 100%;
  width: 100%;

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

